.clockimage {
  display: block;
  margin-left: 110px;
  height: 30%;
  width: 30%;


}

.hour {
  position: absolute;
  display: ;
  top: 305px;
  left: 450px;
  animation: hour_animation 10000s linear infinite;

}

.minute {
  position: absolute;
  display: ;
  top: 270px;
  left: 290px;
  animation: minute_animation 1000s linear infinite;
}


.second {
  position: absolute;
  display: ;
  top: 270px;
  left: 290px;
  animation: minute_animation 100s linear infinite;
}

@keyframes hour_animation{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}


@keyframes minute_animation{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}


@keyframes second_animation{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
